@import 'fonts.css';

* {
	margin: 0;
	padding: 0;
	font-family: 'yekan', sans-serif;
	font-weight: 500;
}
body {
    margin: 0 !important;
    direction: rtl;
    overflow-y: hidden;
    height: 100%;
}
i {
	margin-left: 10px;
}
h2{
	margin:0px;
}

h6{
	margin:0px;
	color:#777;
}
div.wrapper {
    padding: 24px;
}
section {
    height: 100vh;
    background: rgba(255,255,255,0.85);
}
nav {
    width: calc(100% - 220px);
    float: left;
}
.serachlive {
    position: relative;
    display: flex !important;
    border: 1px solid #e2e1e1;
    width: 400px;
    border-radius: 16px;
    padding: 2px;
    align-items: centers;
    background: linear-gradient(225deg, #4c23a92b, #ffffff);
    box-shadow: 0px -1px 100px #f5f5f5, 0px 0px 100px #ffffff;
}
input#livesearch {
	background-color: transparent;
    border: 0;
    width: 90%;
    font-size: 15px;
    outline: 0;
    color: #333;
    font-family: 'yekan';
    font-weight: 400;
    padding: 10px;
}
a#serachlive-btn {
	width: 10%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
span.icon-btn svg {
    width: 26px;
    fill: #3a0ca3;
}
#accordian {
	background: #3a0ca3;
	width: 210px;
	padding: 20px 10px;
	float: right;
	height: 100vh;
	overflow-x: hidden;
	top: 0;
	right: 0;
	position: absolute;
	padding-left: 0px;
}
.main-navbar{
	position: relative;
}

#accordian li {
	list-style-type: none;
}
#accordian ul li a svg {
	width: 20px;
    fill: #fff;
    position: relative;
    top: 5px;
}
#accordian ul li a{
	color: rgba(255,255,255,0.9);
    text-decoration: none;
    font-size: 15px;
    line-height: 45px;
    display: block;
    padding: 0px 20px;
    transition-duration:0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    position: relative;
}

#accordian>ul>li.active>a{
	color: #5161ce;
	font-weight: 700;
	background-color: transparent;
	transition: all 0.7s;
}
#accordian ul li.active>a svg {
	fill: #3a0ca3;
}
i.height-min svg {
    height: 18px;
}

#accordian a:not(:only-child):after {
	content: "\f105";
	position: absolute;
	right: 20px;
	top: 10%;
	font-size: 14px;
	font-family: "Font Awesome 5 Free";
	display: inline-block;
	padding-right: 3px;
	vertical-align: middle;
	font-weight: 900;
	transition: 0.5s;
}

#accordian .active>a:not(:only-child):after {
	transform: rotate(90deg);
}
.selector-active{
	width: 210px;
	width: 100%;
	display:inline-block;
	position:absolute;
	height: 45px;
	top: 0px;
	left: 0px;
	transition-duration:0.6s;
	transition-timing-function: cubic-bezier(0.17, 0.8, 0.43, 0.9);
	background-color: #fff;
	border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}
.selector-active .top,
.selector-active .bottom{
	position: absolute;
	width: 25px;
	height: 25px;
	background-color: #fff;
	left: 0;
}
.selector-active .top{
	top: -25px;
}
.selector-active .bottom{
	bottom: -25px;
}
.selector-active .top:before,
.selector-active .bottom:before{
	content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 30%;
    background-color: #3a0ca3;
}
.selector-active .top:before{
	left: 0px;
	top: -25px;
}
.selector-active .bottom:before{
	bottom: -25px;
	left: 0px;
}
